@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	text-align: center;
	background-image: url("img/background1.jpg");
	background-size: contain;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

img {
	border: 0;
}

#main_header {
	width: 960px;
	margin: 0 auto;
	height: 250px;
	position: relative;
	background-color: #2056AC;
}

#main_header>#title {
	position: absolute;
	left: 250px;
	top: 40px;
	height: 150px;
	width: 500px;
}

#main_header>#main_gnb {
	position: absolute;
	right: 0px;
	top: 0px;
}

#main_header>#main_lnb {
	position: absolute;
	bottom: 0;
}

#logo {
	position: absolute;
	left: 20px;
	top: 20px;
	height: 150px;
	width: 150px;
}

#main_gnb>ul {
	overflow: hidden;
}

#main_gnb>ul>li {
	float: left;
}

#main_gnb>ul>li>a {
	display: block;
	padding: 2px 10px;
	color: white;
}

#main_gnb>ul>li>a:hover {
	background: white;
	color: #2056AC;
}

#main_lnb {
	width: 960px;
}

#main_lnb>ul {
	overflow: hidden;
}

#main_lnb>ul>li {
	float: left;
	width: 192px;
	text-align: center;
}

#main_lnb>ul>li a {
	display: block;
	padding: 10px 10px;
	color: white;
}

#main_lnb>ul .sub {
	display: none;
}

#main_lnb>ul li:hover>ul {
	width: 192px;
	text-align: center;
	display: block;
	position: absolute;
	background-color: #2056AC;
	z-index: 10;
}

#main_lnb>ul li:hover>.sub li:hover {
	display: block;
	padding: 10px 10px;
}

#search_area {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	height: 50px;
	position: relative;
	background-color: white;
}

#search_area input {
	display: inline;
	height: 40px;
	width: 80%;
	border: none;
	font-size: large;
	background-color: rgba(0, 0, 0, 0);
}

#search_area input::placeholder {
	color: gray;
}

.sbar {
	width: 60%;
	margin: 0 auto; text-align : center;
	line-height: 50px;
	border-radius: 50px;
	border: 1px solid #575756;
	z-index: 11;
	text-align: center;
}

#content {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
}

#content>#main_section {
	width: 750px;
	height: 750px;
	float: left;
}

#content>#main_aside {
	width: 200px;
	height: 640px;
	float: right;
}

.recommend {
	width: 100px;
	height: 130px;
	float: left;
	margin-right: 10px;
}

.recommend img {
	width: 80px; height: 80px;
}

#main_section>article.main_article {
	margin-bottom: 10px;
	padding: 20px;
	height: 300px;
}

.tab_item {
	height: 230px;
}

.item {
	overflow: hidden;
	padding: 5px;
	border-top: none;
}

.thumbnail {
	float: left;
}

.description {
	float: left;
	margin: 10px;
}

.description>strong {
	display: block;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#main_footer {
	/* 중앙 정렬 */
	width: 960px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 10px;
	/* 테두리 */
	box-sizing: border-box;
	padding: 10px;
	/* 글자 정렬 */
	text-align: center;
	background-color: #2056AC;
	color: white;
}

#main_footer img {
	width: 30px;
	height: 30px;	
}
