<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">
  <select id="selectAll" resultType="customerVO">
    select * from customer
  </select>
  
  <select id="selectByCust_No" resultType="customerVo">
  	select * from customer where cust_no=#{cust_no}
  </select>
  
  <update id="updateCustomer">
  	update customer set fname=#{fname}, nickname=#{nickname}, pw=#{pw}, m_phone=#{m_phone}, addr=#{addr}, email=#{email}, interest=#{interest}, name=#{name} where cust_no=#{cust_no}
  </update>
  
</mapper>