<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

	<!-- 홈화면  -->
	<select id="getStaffRecommend" resultType="bookVO">
		select b_no, b_title, b_writer, b_image from book where b_no in(1, 2, 3, 4, 5, 6)
	</select>
	
	<select id="getNewRecommend" resultType="bookVO">
		select rownum, b_no, b_title, b_writer, b_image from (select b_no, b_title, b_writer, b_image from book order by b_year) <![CDATA[where rownum <= 6]]>
	</select>
	
	<select id="getHomePost" resultType="postVO">
		select rownum, p_id, p_no, p_title from (select p_id, p_no, p_title from post where p_no like #{group}||'%') <![CDATA[where rownum <= 3]]>
	</select>
</mapper>