<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
	<!-- 전체 게시글수 -->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from post where p_no like ''||#{group}||'%'
	</select>
	<!-- 전체 게시글 목록 -->
	<select id="selectAll" resultType="postVo">
		select * from post where p_no like ''||#{group}||'%'
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="selectById" resultType="postVo">
		select * from post where p_id=#{p_id} and p_no like ''||#{group}||'%'
	</select>
	
	<!-- 새글 작성 -->
	<insert id="insert">
		insert into post values(#{p_id},#{p_no},#{p_title},#{p_writer},#{p_content},#{p_hit},sysdate,#{cust_no})
	</insert>
	
	<!-- 다음 글번호 -->
	<select id="nextNo" resultType="java.lang.Integer">
	 	 select nvl(max(p_id),0) + 1 from post
	 </select>

	<!-- 글 수정 -->
	<update id="update">
		update post set p_title=#{p_title},p_content=#{p_content} where p_id=#{p_id}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="delete">
		delete post where p_id=#{p_id}
	</delete>

</mapper>















